* {
    font-family: Arial;
}


body {
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
    height: auto;
    background: rgb(238, 238, 238);
}

nav {
    background: brown;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

div.navigation {
    background: black;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    padding: none;
}

#myInput {
    width: 100%; 
    height: auto;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    border-radius: 20px;
}

div.body-container {
    /* background: lightyellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 10px 35px;
}

header {
    height: auto;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
}

div#posts-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    height: auto;
}

div#new_post {
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.post {
    border: black 1.1px solid;
    border-radius: 20px;
    padding: 30px;
    width: auto;
    height: auto;
    background:white;
    margin: 0 0 25px 0;
}

.post-btn {
    width: 100px;
    color: black;
}

#comment-container {
    max-width: 30%;
    height: auto;
    border: solid black 2px;
    padding: 20px;
    margin: 10px 0 0 0;
}

#comment-container {
    border: solid black 1.1px;
    padding: 20px;
    margin: 10px 0 0 0;
}

.comment {
    border: solid black 1px;
    padding: 20px;
    margin: 10px 0 0 0;
}

div.start {
    background: pink;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

div#box1 {
    background: blue;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

div#box2 {
    background: lightseagreen;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}





