body {
    background: lightyellow;
    padding: none;
    display: flex;
    margin: none;
    flex-direction: column;
}

header {
    height: auto;
    background: white;
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
    text-align: center;
}

nav {
    background: brown;
    height: 70px;
    display: flex;
    flex-direction: row;
}


div#account{
    background: cadetblue;
    width: 25%;
    height: auto;
}

div#search{
    background: khaki;
    width: 25%;
    height: auto;
}

div#posts{
    background: plum;
    width: 25%;
    height: auto;
}

div#favorites{
    background: goldenrod;
    width: 25%;
    height: auto;
}

div {
    background: pink;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

div#box1 {
    background: blue;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

div#box2 {
    background: lightseagreen;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

#myInput {
    background-image: url('/storprojekt20/searchicon.png'); 
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

