body {
    background: lightyellow;
    padding: none;
    display: flex;
    margin: none;
    flex-direction: column;
}

header {
    height: auto;
    background: white;
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
    text-align: center;
}

nav {
    background: brown;
    height: 70px;
    display: flex;
    flex-direction: row;
}


div#account{
    background: cadetblue;
    width: 25%;
    height: auto;
}

div#search{
    background: khaki;
    width: 25%;
    height: auto;
}

div#posts{
    background: plum;
    width: 25%;
    height: auto;
}

div#favorites{
    background: goldenrod;
    width: 25%;
    height: auto;
}

div {
    background: pink;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

div#box1 {
    background: blue;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

div#box2 {
    background: lightseagreen;
    width: auto;
    height: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

