<form action = "/create" method = "post">
    <input type="text" name="Username" placeholder="username">
    <input type="text" name="Password" placeholder="password">
    <input type="submit" value="Create account">